spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/produto-api
    username: postgres          
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

jwt:
  secret: lucassantosfontes
  expiration: 86400000